body {
  margin: 0;
}

#map {
  width: 100%;
  height: 100vh;
}

#info {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 2em;
  background-color: white;
  opacity: 0.7;
}


.map-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.map-btn:hover {
  background-color: #fefefe
}

#start-overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* ::before creates a blurred background image */
#start-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/img/map-placeholder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px) brightness(0.8);
  z-index: 1;
}


#start-button {
  font-size: 2em;
  padding: 1em 2em;
  background-color: rgb(92, 109, 93);
  width: fit-content;
  border: none;
  border-radius: 1em;
  text-decoration: none;
  color: rgb(215, 221, 199);
  cursor: pointer;
  z-index: 2;
}

#start-button:hover {
  transform: translateY(-2px);
}


/* POI Modal Styles */
#poi-modal {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  z-index: 9998;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.modal-content {
  padding: 20px;
  position: relative;
  flex-grow: 1;
}

.modal-content button#modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.quiz-container ul {
  list-style: none;
  margin-top: 15px;
  padding: 0;
}

.quiz-container li {
  margin-bottom: 10px;
}

.quiz-container button#submit-answer {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

#quiz-form {
  display: flex;
  flex-direction: column;
}

.quiz-feedback {
  margin-top: 10px;
  font-weight: bold;
}